/.vscode
*/.vagrant/*
*/ansible/*

# ignore downloaded binaries
ansible/files/*

# helm and temporary renders
**/charts/**
install.yaml
chart.yaml
Chart.lock

# exported vault keys
vault-keys.json

# prometheus operator
prometheus/manifests/
prometheus/vendor/

# python
.venv
__pycache__/
*.py[cod]
*$py.class

# terraform
terraform.tfstate*
.terraform/
.terraform.lock.hcl
terraform.tfvars
