/.vscode
*/.vagrant/*
*/ansible/*

# ignore downloaded binaries
ansible/files/*

# helm
*/charts/*
Chart.lock

# vault conveniences
cluster-keys.json

# prometheus operator
prometheus/manifests/
prometheus/vendor/

# python
.venv
__pycache__/
*.py[cod]
*$py.class

# terraform
terraform.tfstate*
.terraform/
.terraform.lock.hcl
terraform.tfvars
