[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target
After=network.target

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
RestartSec=5s
Type=simple
User={{ gitea_user }}
Group={{ gitea_group }}
WorkingDirectory={{ gitea_data_path }}/
ExecStart={{ gitea_install_path }}/gitea web --config {{ gitea_config_path }}/app.ini
Restart=always
Environment=USER={{ gitea_user }} HOME=/home/{{ gitea_user }} GITEA_WORK_DIR={{ gitea_data_path }}
Environment=PATH={{ git_path }}:/bin:/sbin:/usr/bin:/usr/sbin

[Install]
WantedBy=multi-user.target
